@model WebShopCart.Models.UserIdentity
@{
    ViewData["Title"] = "Login";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    @using (Html.BeginForm("Login", "Home"))
                    {
                        <label>User Name:</label>
                        @Html.TextBoxFor(m => m.user_name)
                        @* @Html.ValidationMessageFor(m => m.user_name) *@

                        <label>Password:</label>
                        @Html.PasswordFor(m => m.password)

                        <button type="submit" class="btn btn-default" value="Submit">Login</button>
                    }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2><a asp-area="" asp-controller="Home" asp-action="SignUp">New User Signup!</a></h2>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->